<!-- template/repo/epq/epq_detail.html -->
{% extends '_base.html' %} {% block title %}Epq Detail{% endblock title %}
<div></div>
{% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="text-primary">epq Detail</h1>
<!-- make good info card/something-->
<h2><a class="btn btn-secondary" href="{% url 'epq_table' %}">back</a></h2>

<table class="table table-bordered">
  <thead class="thead-light">
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Department</th>
    <th scope="col">bill No.</th>
    <th scope="col">epq No.</th>
    <th scope="col">supplier</th>
    <th scope="col">date</th>
    <th scope="col">rate</th>
  </thead>
  <tbody>
    <tr>
      <td><a class="btn btn-primary" scope="row" href="">{{epq.code}}</a></td>
      <td>{{epq.name}}</td>
      <td>{{epq.department}}</td>
      <td>{{epq.bill_no}}</td>
      <td>{{epq.equipment_no}}</td>
      <td>{{epq.supplier}}</td>
      <td>{{epq.date}}</td>
      <td>{{epq.rate}}</td>
    </tr>
  </tbody>
</table>
<td><a class="btn btn-info" href="{% url 'epq_update' epq.id %}">update</a></td>
<td>
  <a class="btn btn-danger" href="{% url 'epq_delete' epq.id %}">Delete</a>
</td>

<hr />

{% endblock content %}
