<!-- labpage.html-->

<div></div>
{% extends 'main.html' %} {% block title %}{{ table_name }}{% endblock title %}
<div></div>
{% load repo_extras %} {% block content %}

<!-- DataTales Example -->

<nav class="table-nav">
  {% if user|isSubAdmin %}
  <a class="btn1 btn" href="{% url create_url %}">+ Add</a>
  {% endif %}

  <!-- <a class="btn2 btn" href="{% url csv_url %}"> ⤓ Report</a> -->

  <h3 class="table-head">{{ table_name }}</h3>
</nav>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead cl>
    <tr>
      {% for name in attr_names %}
      <th scope="col">{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for data_item in data_list %}
    <tr>
      {% for attr_name in attr_names %} {% if attr_name == 'id' %}

      <td>
        <a class="btn more-btn" href="{% url detail_url data_item.id %}"
          >{{ data_item|getValue:attr_name }}</a
        >
      </td>
      {% else %}
      <td>{{ data_item|getValue:attr_name }}</td>
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      {% for name in attr_names %}
      <th scope="col">{{ name }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>

{% endblock %}
