<!-- template/repo/dashboard.html -->
{% extends 'main.html' %} {% block title %}Dash Board{% endblock title %}
<div></div>
{% load repo_extras %} {% load crispy_forms_tags %} {% block content %}

<div class="row">
  <div class="col-7">
    <h1 class="h3 mb-0 text-primary">Dashboard</h1>

    <ol>
      <li><a href="">dowload report for lab</a></li>
      <li><a href="">dowload reports for computers</a></li>
      <li><a href="">dowload reports for equipment</a></li>
      <li><a href="">dowload reports for software</a></li>
      <li><a href=""></a></li>
    </ol>

    <table>
      <tr>
        <td>total labs</td>
        <td>:{{total_lab}}</td>
      </tr>
      <tr>
        <td>total soft</td>
        <td>:{{total_soft}}</td>
      </tr>
      <tr>
        <td>total epq</td>
        <td>:{{total_epq}}</td>
      </tr>
      <tr>
        <td>total purchase</td>
        <td>:{{total_purch}}</td>
      </tr>
      <tr>
        <td>total comp</td>
        <td>:{{total_comp}}</td>
      </tr>
    </table>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        {{issues.count}} Issues !! <a href="{% url 'issue_create' %}">new</a>
      </div>
      <div class="card-body">
        <a href="{% url 'issue_create' %}">new</a>
        <ul>
          <div class="list-group">
            {% for issue in issues %}
            <li>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{issue.Header}}</h5>
                <small>{{issue.Date}}</small>
              </div>
              <p class="mb-1">{{issue.Info}}</p>
              <small
                >-{{issue.Creator}} {% if user|isSubAdmin %},
                <a href="{% url 'issue_solved' issue.id %}">clear </a>
                <div></div>
                {% endif %}
              </small>
            </li>
            {% endfor %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
