<!-- template/repo/epq/epq_detail.html -->
{% extends 'main.html' %} {% block title %}Epq Detail{% endblock title %}
<div></div>
{% load repo_extras %} {% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="">Equipnment Detail</h1>
<!-- make good info card/something-->
<a class="btn sec-btn" href="{% url 'epq_table' %}">← back</a>

<table class="data-table">
  <tbody>
    {% for name in attr_names %}
    <tr>
      <td class="data-attr">{{name}}</td>
      <td>:</td>
      <td class="data-data">{{epq|getValue:name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% if user|isSubAdmin %}

<td>
  <a class="btn prime-btn" href="{% url 'epq_update' epq.id %}">update</a>
</td>
<td>
  <a class="btn danger-btn" href="{% url 'epq_delete' epq.id %}">Delete</a>
</td>
{% endif %} {% endblock content %}
