<!-- labpage.html-->
{% extends '_base.html' %} {% block title %}Lab Table{% endblock title %} 

{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <a class="btn btn-success" href="{% url 'lab_create'%}">new</a> lab list -
      {{total_lab}} entries
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Department</th> -->
            <th scope="col">Lab No.</th>
            <!-- <th scope="col">Intercom No.</th> -->
            <th scope="col">Lab Incharge</th>
            <!-- <th scope="col">Area</th>
            <th scope="col">Capacity</th> -->
            <th scope="col">View / Edit</th>

          </tr>
        </thead>
        
        <tbody>
          {% for lab in lab_list %}
          <tr>
            
            <td>{{lab.name}}</td>
            <td>{{lab.code}}</td>
            <!-- <td>{{lab.department}}</td> -->
            <td>{{lab.lab_number}}</td>
            <!-- <td>{{lab.intercom_no}}</td> -->
            <td>{{lab.lab_incharge}}</td>
            <!-- <td>{{lab.lab_area}}</td>
            <td>{{lab.lab_capacity}}</td> -->
            <td>
              <a
                class="btn btn-outline-primary "
                scope="row"
                href="{% url 'lab_detail' lab.id %}"
                >View / Edit</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
