<!-- template/purch_detail.html -->
{% extends 'main.html' %} {% block title %}purch Detail{% endblock title %}
<div></div>
{% load repo_extras %} {% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="text-primary">Purchase Detail</h1>
<!-- make good info card/something-->
<h2><a class="btn btn-secondary" href="{% url 'purch_table' %}">← back</a></h2>

<table>
  <tbody>
    {% for name in attr_names %}
    <tr>
      <td>{{name}}</td>
      <td>:{{purch|getValue:name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user|isSubAdmin %}
<td>
  <a class="btn btn-info" href="{% url 'purch_update' purch.id %}">update</a>
</td>
<td>
  <a class="btn btn-danger" href="{% url 'purch_delete' purch.id %}">Delete</a>
</td>

<hr />
{% endif %} {% endblock content %}
