{% load repo_extras %}

<div class="slider">
  <a href="{% url 'dashboard' %}"> Dashboard </a>
  {% if user|isAuthorized %}

  <a href="{% url 'lab_table' %}"> Labs </a>

  <a href="{% url 'class_table' %}"> ClassRooms </a>

  <a href="{% url 'cabin_table' %}"> Cabins </a>

  <a href="{% url 'comp_table' %}"> Computers </a>

  <a href="{% url 'soft_table' %}"> Softwares </a>

  <a href="{% url 'epq_table' %}">Equipments </a>

  <a href="{% url 'purch_table' %}"> Purchases </a>

  {% if user|isSubAdmin %}
  <a href="{% url 'user_unauth_list' %}"> New Users </a>
  {% endif %}
  <div></div>
  {% else %}
  <h2>Please wait for authentication by sub admin</h2>
  <br />
  <h3>or leave issue for him</h3>
  {% endif %}
</div>
