{% load repo_extras %}

<div class="slider">
  <a href="{% url 'dashboard' %}"> Dashboard </a>
  {% if user|isAuthorized %}

  <a href="{% url 'comp_table' %}"> Computer </a>

  <a href="{% url 'epq_table' %}">Equipnments </a>

  <a href="{% url 'soft_table' %}"> Software </a>

  <a href="{% url 'purch_table' %}"> Purchase </a>

  <a href="{% url 'lab_table' %}"> Lab </a>

  {% if user|isSubAdmin %}
  <a href="{% url 'user_unauth_list' %}"> New User List </a>
  {% endif %}
  <div></div>
  {% else %}
  <h2>Please wait for authentication by sub admin</h2>
  <br />
  <h3>or leave issue for him</h3>
  {% endif %}
</div>
