<ul>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Teachers Tables</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'epq_table' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Hardware Tables</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'soft_table' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Software Tables</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'lab_table' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Lab Tables</span></a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
</ul>
