<!-- template/repo/lab_detail.html -->
{% extends 'main.html' %} {% block title %}Soft Detail{% endblock title %}
<div></div>
{% load repo_extras %} {% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="text-primary">Software Detail</h1>
<!-- make good info card/something-->
<h2><a class="btn btn-secondary" href="{% url 'soft_table' %}">← back</a></h2>

<table>
  <tbody>
    {% for name in attr_names %}
    <tr>
      <td>{{name}}</td>
      <td>:{{soft|getValue:name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user|isSubAdmin %}

<td>
  <a class="btn btn-info" href="{% url 'soft_update' soft.id %}">update</a>
</td>
<td>
  <a class="btn btn-danger" href="{% url 'soft_delete' soft.id %}">Delete</a>
</td>
{% endif %}

<h2>installed on Computers</h2>

<ul>
  {% for comp in installed_on %}
  <li><a href="{% url 'comp_detail' comp.id %}">{{comp}}</a></li>
  {% endfor %}
</ul>

{% endblock content %}
