<!--templtes/signup.html-->

{% extends '_base.html' %}{% load crispy_forms_tags %}
<div></div>
{% block title %}Sign Up{% endblock title %}
<div></div>
{% block main %}

<div class="row makecenter">
  <div class="col-2">
    <div class="row login-logos">
      <img
        src="https://kjsieit.somaiya.edu.in//assets/kjsieit/images/Logo/kjsieit-logo.svg"
        alt="somaiya logo"
        class="c-logo college-logo"
        srcset=""
      />
      <img
        src="https://kjssc.somaiya.edu.in/assets/arigel_general/img/homepage/Trust.svg"
        alt="trust logo"
        srcset=""
        width="100px"
        class="t-logo trust-logo"
      />
    </div>

    <h1>College Repository</h1>
  </div>
  <div class="col-1">
    <form class="signup-form" method="post">
      <h1>Sign Up Form</h1>
      <div>{% csrf_token %} {{ form|crispy }}</div>
      <button type="submit" class="btn btn-primary">Create</button> Or
      <a class="small" href="{% url 'login' %}">
        Already have an account? Login!
      </a>
    </form>
  </div>
</div>

{% endblock main %}
