<!--templtes/signup.html-->

{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Login</title>
  </head>

  <body>
    <form method="post">
      <div>{% csrf_token %} {{ form|crispy }}</div>
      <button type="submit" class="btn btn-primary">sign up</button>
    </form>
    <hr />

    <hr />
    <a class="small" href="{% url 'login' %}"
      >Already have an account? Login!</a
    >
  </body>
</html>
