<!-- template/repo/epq/epq_detail.html -->
{% extends 'main.html' %} {% block title %} Profile {% endblock title %}
<div></div>
{% load repo_extras %} {% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="text-primary">User Profile</h1>
<ul>
  <li>{{user.username}}</li>
  <li>{{user.email}}</li>
  <li>
    {% if user|getUserDep == -1 %} department : not defined {% else %}
    department : {{user|getUserDep}} {% endif %}
  </li>
  <li>is sub admin : {{ user|isSubAdmin }}</li>
  <li><a href="{% url 'password_change' %}">change password</a></li>
  <li>in case of forgeting password please contact to admin</li>
</ul>

{% endblock content %}
