:root {
  --black: #03045e;
  --primary: #0096c7;
  --sec0: #48cae4;
  --sec1: #90e0ef;
  --sec2: #ade8f4;
  --sec3: #caf0f8;
  --white: white;
}

.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
}

body {
  margin: 0px;
  color: var(--black);
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to right, var(--white), var(--sec3));
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  color: var(--black);
  /* padding: 10px; */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input,
select {
  border-radius: 6px;
  margin: 5px;
}

img,
.project-name,
.nav-list,
.table-head {
  display: inline-block;
}

.btn {
  align-content: center;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  color: var(--white);
  min-width: 70px;
  transition-duration: 0.4s;

  background-color: greenyellow;
}

.btn1 {
  border: 2px solid var(--sec0);
  background-color: var(--sec0);
}

.btn2 {
  border: 2px solid var(--sec1);
  background-color: var(--sec1);
}

.btn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-image: linear-gradient(
    to right,
    var(--secondory-color),
    var(--primary-color)
  ); */
  flex-wrap: wrap;
}

header a {
  margin: 5px;
}

.college-logo {
  width: 300px;
  margin: 5px;
}
.trust-logo {
  width: 70px;
  margin: 5px;
}

/* .main-block {
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  width: 100%;
  align-self: center;
  border: blueviolet 1px dashed;

  padding: 0px 15%;
} */

/* .con-right,
.con-left {
  padding: 20px;
} */

/* .con-left {
  width: clamp(100px, 20%, 100%);
  float: left;

  flex-grow: 1;
} */

.con-right {
  /* float: right;
  width: clamp(500px, 80%, 100%); */
  overflow: auto;
  margin: 0px clamp(2px, 5%, 100px);
  /* overflow: hidden; */

  /* flex-grow: 2; */
}

.slider {
  background-color: var(--sec2);
  border-radius: 4px;
  /* margin: 10px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider a {
  border-radius: 4px;
  padding: 15px;
}

.slider a:hover {
  /* background-color: var(--sec1); */
  color: var(--primary);
}

form {
  background-color: var(--light-gray);
  padding: 20px;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
  border: 2px solid var(--sec1);
  background-color: rgb(256, 256, 256, 0.3);
  /* border-radius: 4px; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.table-nav {
  display: flex;
  /* justify-content: space-around; */
}

#dataTable th,
#dataTable td {
  padding: 15px;
  margin: 5px;
  text-align: left;
  border-bottom: var(--primary) 1px solid;
}

#dataTable th {
  background-color: var(--primary);
  color: var(--white);
  margin: 2px;
}
