:root {
  --black: #03045e;
  --primary: #2ec4b6;
  --sec: #2ec4b6;
  --white: #fdfffc;
  --link: #00b4d8;

  /* --black: #05668d;
  --primary: #028090;
  --sec0: #00a896;
  --sec1: #02c39a;
  --sec2: #02c39a;
  --sec3: #f0f3bd;
  --white: #f5f5f5; */

  /* --black: #022b3a;
  --primary: #1f7a8c;
  --sec0: #bfdbf7;
  --sec1: #e1e5f2;
  --sec2: #02c39a;
  --sec3: #ffffff;
  --white: #ffffff; */

  /* --black: #202020;
  --primary: #ffee32;
  --sec0: #ffd100;
  --sec1: #ffd100;
  --sec2: #ffd100;
  --sec3: #d6d6d6;
  --white: #d6d6d6; */

  /* --black: #202020;
  --primary: #ffee32;
  --sec0: #ffd100;
  --sec1: #ffd100;
  --sec2: #ffd100;
  --sec3: #d6d6d6;
  --white: #d6d6d6; */
}

.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
}

body {
  margin: 0px;
  color: var(--black);
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to right, var(--white), var(--sec3));
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

a {
  color: var(--link);
  /* padding: 10px; */
}

.dark-a {
  color: var(--black);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input,
select {
  border-radius: 6px;
  margin: 5px;
}

img,
.project-name,
.nav-list,
.table-head {
  display: inline-block;
}

.btn {
  align-content: center;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  color: var(--white);
  min-width: 70px;
  transition-duration: 0.4s;

  border: 2px solid var(--sec);
  background-color: var(--sec);
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-image: linear-gradient(
    to right,
    var(--secondory-color),
    var(--primary-color)
  ); */
  flex-wrap: wrap;
}

header a {
  margin: 5px;
  color: var(--black);
}

.college-logo {
  width: 300px;
  margin: 5px;
}

.trust-logo {
  width: 70px;
  margin: 5px;
}

/* .main-block {
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  width: 100%;
  align-self: center;
  border: blueviolet 1px dashed;

  padding: 0px 15%;
} */

/* .con-right,
.con-left {
  padding: 20px;
} */

/* .con-left {
  width: clamp(100px, 20%, 100%);
  float: left;

  flex-grow: 1;
} */

.content {
  /* float: right;
  width: clamp(500px, 80%, 100%); */
  /* overflow-y: scroll; */
  margin: 0px clamp(2px, 5%, 100px);
  /* overflow: hidden; */

  /* flex-grow: 2; */
}

.slider {
  background-color: var(--sec);
  border-radius: 4px;
  /* margin: 10px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider a {
  border-radius: 4px;
  padding: 15px;
  color: var(--black);
}

.slider a:hover {
  /* background-color: var(--sec1); */
  color: var(--white);
}

form {
  background-color: var(--light-gray);
  padding: 20px;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form textarea,
form select {
  border: 2px solid var(--sec);
  background-color: rgb(256, 256, 256, 0.3);
  /* border-radius: 4px; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.table-nav {
  display: flex;
  /* justify-content: space-around; */
}

#dataTable th,
#dataTable td {
  padding: 15px;
  margin: 5px;
  text-align: left;
  border: var(--primary) 1px solid;
  /* border-left: var(--primary) 1px solid; */
  border-collapse: collapse;
}

#dataTable thead th {
  background-color: var(--primary);
  color: var(--white);
  margin: 2px;
}

.data-attr {
  /* background-color: var(--primary); */
  /* border-radius: 2px; */
  width: max-content;
  padding: 5px;
  font-weight: bold;
}

.data-data {
  text-align: end;
}

.data-table {
  margin: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  display: inline-block;
  width: 50%;
}

.col-2 {
  display: inline-block;
  width: 50%;
}

.issue-panel,
.issue-list {
  border: 2px solid var(--sec);
  padding: 20px;
  border-radius: 10px;
}

.issue-head {
  font-weight: bold;
}

.issue-foot {
  padding-left: 20px;
  font-size: small;
}

.issue-data {
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .slider a,
  .col-1,
  .col-2,
  .login-logos,
  .college-logo,
  header h1 {
    width: 100%;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

.login-logos {
  display: flex;
  justify-content: space-around;
}

.paginate_button {
  padding: 5px;
}

table {
  padding: 10px;
}

.makecenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-image: linear-gradient(var(--white), var(--primary), var(--white));
  height: 100%;
}

.makecenter h1 {
  text-align: center;
}

.table-wrapper {
  overflow-x: scroll;
}
