{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- <link
      rel="stylesheet"
      href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
    /> -->

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/mycss.css' %}"
    />

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    {% block main %} {% endblock main %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>

    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/mytable.js' %}"></script>
  </body>
</html>
