<!-- pages/templates/about.html -->
{% extends 'main.html' %} {% block title %}about{% endblock title %}
<div></div>
{% block content %}
<h1>Departmetal reposetory</h1>
<br />

<h3>
  <a href="https://kjsieit.somaiya.edu.in/en">KJSIEIT</a>

  -
  <a href="https://kjsieit.somaiya.edu.in/en/programme/computer-engineering"
    >Computer Engineering Department</a
  >
</h3>
<br />

<h3>Instructions to use system:</h3>

<ol>
  this project works on the heierarchy order as:
  <li>admin</li>
  <li>sub_admin</li>
  <li>department members</li>
  <li>new users / outsiders</li>
</ol>

<p>
  After creating new account user needs aproval of sub_admin to get read access
  from sub_admin.project can have many sub admin. optionally he can create issue
  to grab attention of sub admin. after aproval from sub admin he will be
  departmental members like teachers , students (optionally) or lab assistant.
</p>

<p>
  Then sub admin can view all data availble on website and dowload .csv reports
  from tables of various entites. he can view in depth data and view
  relationships between entites.
</p>

<p>
  Any chages like create , update and delete can be only done by sub_admin and
  admin. admin has more option than sub admin. In case of department member want
  to suggest any chages in db he/she can create public issue and actual
  sub_admin can make chages according to issue and clear issue after that. its
  resposiblity of sub_admin to keep minimum entries in issue list.
</p>

<ul>
  <h3>Guides ( alphabetical order )</h3>
  <li>
    Kavita Bathe (web design) - <a href="mailto:@somaiya.edu">@somaiya.edu</a>
  </li>

  <li>
    sandeep (alum mentor) -
    <a
      href="mailto:
   @somaiya.edu"
    >
      @somaiya.edu</a
    >
  </li>
  <li>
    Santosh jadhav (faculty mentor) -
    <a
      href="mailto:
    @somaiya.edu"
    >
      @somaiya.edu</a
    >
  </li>
  <li>
    Sarita Ambadekar (DBMS) -
    <a href="mailto:@somaiya.edu">@somaiya.edu</a>
  </li>
</ul>

<br />
<ul>
  <h3>Developers ( alphabetical order )</h3>
  <li>
    Rinkesh Sante -
    <a href="mailto:rinkesh.sante@somaiya.edu">rinkesh.sante@somaiya.edu</a>
  </li>
  <li>
    Sahil Kotak - <a href="mailto:kotak.sk@somaiya.edu">kotak.sk@somaiya.edu</a>
  </li>
  <li>
    Sameer Pinjari -
    <a href="mailto:s.pinjari@somaiya.edu">s.pinjari@somaiya.edu</a>
  </li>
</ul>
{% endblock content %}
