{% load repo_extras %}

<header class="navbar flex-nav ">
  <img
    src="https://kjsieit.somaiya.edu.in//assets/kjsieit/images/Logo/kjsieit-logo.svg"
    alt="somaiya logo"
    class="college-logo"
    
  />
  <h1 class="project-name">College Repository</h5>

  
    <a class="" href="{% url 'profile' %}"> {{ user.username }} </a>
    <a class="" href="{% url 'about' %}">About</a>
    <a class="btn-theme-toggle btn">Theme</a>
    {% if user|isAuthorized %}
    <a class="" href="#">{{user|getUserDep}} dep</a>
    {% endif %}
 
  <a class="btn sec-btn" href="{% url 'logout' %}">Logout</a>
  &nbsp;&nbsp;&nbsp;
  <img
    src="https://kjssc.somaiya.edu.in/assets/arigel_general/img/homepage/Trust.svg"
    alt="trust logo"
    class="trust-logo"
  />
</header>
