

{% extends '_base.html' %} {% block title %}soft detail{% endblock title %} 
{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <a class="btn btn-success" href="{% url 'soft_create'%}">new</a> soft list
      - {{total_soft}} entries
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Soft No.</th>
            
            <th scope="col">More</th>
          </tr>
        </thead>
        
        <tbody>
          {% for soft in soft_list %}
          <tr>
            <td>
              {{soft.code}}
            </td>
            <td>{{soft.name}}</td>
            <td>{{soft.software_no}}</td>
            
            <td>
              <a
                class="btn btn-outline-primary "
                scope="row"
                href="{% url 'soft_detail' soft.id %}"
                >More</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

