<!-- template/repo/epq/epq_detail.html -->
{% extends '_base.html' %} {% block title %}comp Detail{% endblock title %}
<div></div>
{% block content %}

<!--<a class="btn btn-primary" href="{% url 'dashboard' %}">back</a>-->
<h1 class="text-primary">comp Detail</h1>

<!-- make good info card/something-->
<h2><a class="btn btn-secondary" href="{% url 'comp_table' %}">back</a></h2>

<table class="table table-bordered">
  <thead class="thead-light">
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Department</th>
    <th scope="col">bill No.</th>
    <th scope="col">epq No.</th>
    <th scope="col">supplier</th>
    <th scope="col">date</th>
    <th scope="col">rate</th>
  </thead>
  <tbody>
    <tr>
      <td><a class="btn btn-primary" scope="row" href="">{{comp.code}}</a></td>
      <td>{{comp.name}}</td>
      <td>{{comp.department}}</td>
      <td>{{comp.bill_no}}</td>
      <td>{{comp.equipment_no}}</td>
      <td>{{comp.supplier}}</td>
      <td>{{comp.date}}</td>
      <td>{{comp.rate}}</td>
    </tr>
  </tbody>
</table>
<td>
  <a class="btn btn-info" href="{% url 'comp_update' comp.id %}">update</a>
</td>
<td>
  <a class="btn btn-danger" href="{% url 'comp_delete' comp.id %}">Delete</a>
</td>

<hr />

{% endblock content %}
